---
import BriefCase from '../components/icons/BriefCase.astro';
import Experience from '../components/Experience.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/icons/Profile.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import AboutMe from '../components/AboutMe.astro';
;

---

<Layout title="Porfolio de Yilver Garcia - Software Developer"
description='Contacta me para desarrollar o programar aplicaciones web o movil'
>	
	<main>

		<SectionContainer class="py-44 pb-24">
			 <Profile></Profile>
		</SectionContainer>

		<!-- Experience -->
		 <!-- TODO -->
		<SectionContainer id="experiencia">
			<TitleSection>
			  <BriefCase class="size-8"/>
			  Experiencia laboral
			</TitleSection>
			<Experience />
		  </SectionContainer>
 
		  <SectionContainer id="proyectos">
			<TitleSection>
			  <Code class="size-7" />
			  Proyectos
			</TitleSection>
			<Projects />
		  </SectionContainer>

		  <SectionContainer id="sobre-mi">
			<TitleSection>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</TitleSection>
			<AboutMe />
		  </SectionContainer>

      <Footer></Footer>

	</main>
</Layout>

