---
import Badge from '../components/Badge.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import InstagramIcon from '../components/icons/InstagramIcon.astro';
import LinkendinIcon from '../components/icons/LinkendinIcon.astro';
import Linkendin from '../components/icons/LinkendinIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Yilver Garcia">
	<main>

		
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
			class="rounded-full w-16 h-16 mb-4" 
			src="/src/assets/foto.jpg" 
			alt="Foto Yilver">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">Hey, Soy Yilver
				<a class="flex justify-center items-center"
				href="https://www.linkedin.com/in/yilver-garcia-4550bb219/" 
				target="_blank"
				rel="noopener"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-2xl text-wrap">
				<span class="text-white">+3 años de experiencia.</span><span class="opacity-80"> Porfolio.</span> 
				<span class="text-yellow-100/90 ">De Barrancabermeja, Colombia</span> 🇨🇴. 
				<span class="text-red-200/90">
				Me especializo en el area Backend,</span>
				<span class="opacity-85">entusiasta del Cloud</span> 
			</h2>
	
			<!-- Iconos -->
			 <nav class="flex gap-x-2">
				<!-- LinkenIn Icon -->
				<SocialPill href="https://www.linkedin.com/in/yilver-garcia-4550bb219/">
					<LinkendinIcon class="w-6 h-6"/>
					LinkedIn
				</SocialPill>

					<!--GitHub Icon  -->
				<SocialPill href="https://github.com/Yilver7u7">
					<GitHubIcon class="w-6 h-6"/>
					GitHub
				</SocialPill>	

				<!--Instagram Icon  -->
				<SocialPill href="https://github.com/Yilver7u7">
					<InstagramIcon class="w-6 h-6"/>
					GitHub
				</SocialPill>	

			 </nav>
					

		</section>

	</main>
</Layout>

